# Secrets
.env

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Java / Maven
target/
*.class
*.jar
*.war
*.log

# OS
.DS_Store
Thumbs.db

# Archives
*.zip
*.tar.gz

# Docker local volumes
postgres-data/
grafana-data/

# Python
__pycache__/
*.pyc
